<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Farmácia
        </h1>
    </div>
</div>
<!-- /.row -->
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-folder-open fa-fw"></i> Em aberto</h3>
        </div>

        <div class="panel-body">
            <span us-spinner spinner-key="spinner-1"></span>
            <div class="list-group">
                <div class="list-group-item" style="height: 100%" data-ng-repeat="presc in vm.prescList">
                    <small>{{presc.dataCriacao}}</small>
                    <button class="btn btn-link">Despachar</button>
                    <small class="pull-right">Dr(a). {{presc.medResponsavel}}</small>
                    <hr>
                    <label>Medicamentos</label>
                    <ul class="list-unstyled">
                        <li data-ng-repeat="med in presc.medicamentoList">
                            <a class="col-sm-10">{{med.nome}} -</a>
                            <button class="btn btn-link col-sm-2" href="" data-ng-click="vm.addListaCompras(med.id)">Comprar</button>
                            <br>
                        </li>
                    </ul>
                </div>
            </div>
            {{vm.medCompras}}

        </div>
    </div>
</div>